<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/4.6/components/navbar/
-->

<nav class="navbar navbar-expand-sm navbar-light" style="margin: 0;border-bottom:solid;border-color: rgba(0, 0, 0, 0.142);padding: 0.1rem 0.1rem;background-color: #111112;font-family:Lato">
	<a class="navbar-brand" href="/">
		<img style="width:70px;height:auto;"
		src="/public/img/logoo.png" >
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarToggler">
		<div class="navbar-nav d-sm-flex w-100">
			<a class="nav-link" href="/produtos" style="color:azure;font-weight:bold;font-size:24px">Catalogo</a>
			<div style="flex: 1 1 auto;"></div>
			<a class="nav-link" href="/sobre" style="color:azure;font-weight:bold">Sobre</a>
		</div>
	</div>
</nav>
