<div style="padding: 30px;"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-2">
            <div class="card mb-3" style="max-width: 800px; text-align:center;">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <img src="/public/img/blusa.png" alt="Blusa Basic - DripDistrict™">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">Blusa Basic - DripDistrict™</h5>
                      <p class="card-text">Mantenha o estilo afiado mesmo nos dias mais frios com a blusa Hustle Heat. Projetada para quem não para e vive a vibe das ruas, essa peça combina o melhor do streetwear com o conforto necessário para enfrentar qualquer estação.
                        <br>
                        Com tecido macio de algodão misto e fleece interno, a Hustle Heat oferece um caimento relaxado e um toque aconchegante, sem comprometer a atitude.</p>
                      <p class="card-text"><small class="text-muted">Últimas unidades!</small></p>
                      <a href="/comprar"><button type="button" class="btn btn-outline-secondary">Adquira Já!</button></a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<div style="padding:20px"></div>
