<div style="padding: 5px;"></div>
<hr>
<div style="padding: 20px;"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 offset-1">
      <div class="fundoProduto" style="margin-top:15px">
        <div class="container-fluid">
          <div class="row">
            <div data-aos="zoom-in">
              <div class="col-md-10 offset-1" style="padding-top:15px">
                <div data-aos="fade-up">
                  <div class="card mb-3" style="max-width: 1500px; text-align:center; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.57); border-width: 0.1px; border-style: solid; border-color: rgba(128, 128, 128, 0.5);">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <img src="/public/img/camisa.png" alt="Camisa Basic - DripDistrict™">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                      <h5 class="card-title my-4">Blusa Basic - DripDistrict™</h5>
                      <p class="card-text">
                        Projetada para quem não para e vive a vibe das ruas, essa peça combina o melhor do streetwear com o conforto necessário para enfrentar qualquer estação.
                      <br>
                      Essa peça é ideal para quem está sempre em movimento e aprecia o estilo urbano. Feita com materiais de alta qualidade, ela oferece a flexibilidade e o conforto necessários para acompanhar o ritmo de uma rotina ativa.
                      </p>
                      <p class="card-text"><small class="text-muted">Últimas unidades!</small></p>
                      <a href="/pagamento"><button type="button" class="btn btn-outline-secondary">Adquira Já!</button></a>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="padding:20px"></div>
<hr>
<div style="padding:5px"></div>

<%- contentFor("espaco-head") %>
<style>

  body{
    font-family: Atkinson Hyperlegible;
    font-size: 14px;
  }

  img{
    max-width: 100%;
  }

  .fundoProduto {
    background-color: rgba(128, 128, 128, 0.08);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
		border-width: 0.5px;
		border-style: solid;
		border-color: gray;
  }
</style>