<div style="padding: 30px;"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-2">
            <div class="card mb-3" style="max-width: 800px; text-align:center;">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <img src="/public/img/camisa.png" alt="Camisa Basic - DripDistrict™">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">Camisa Basic - DripDistrict™</h5>
                      <p class="card-text">Seja visto e respeitado com a camiseta DripDistrict™ Basic, feita para quem vive o streetwear em sua essência. Com um corte oversized e um caimento perfeito, esta peça une conforto e estilo urbano em uma combinação imbatível.
                        <br>
                        A paleta de cores neutras faz dessa camiseta uma escolha versátil, fácil de combinar com qualquer look.</p>
                      <p class="card-text"><small class="text-muted">Últimas unidades!</small></p>
                      <a href="/comprar"><button type="button" class="btn btn-outline-secondary">Adquira Já!</button></a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<div style="padding:20px"></div>