<div style="padding:50px"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <script src="https://www.paypal.com/sdk/js?client-id=BAAPmPTQST2zmPOmdnbiQKM5grjbEXIKPiRvDlWEEKwAHkrErRVFXX_F3-nVFL6IOehoWQEznwOxoUMxGc&components=hosted-buttons&disable-funding=venmo&currency=BRL"></script>
            <div id="paypal-container-N4F6T6ALB2F7U"></div>
            <script>
              paypal.HostedButtons({
                hostedButtonId: "N4F6T6ALB2F7U",
              }).render("#paypal-container-N4F6T6ALB2F7U")
            </script>
            <style>
                .css-to8mgr {
                    margin: 0px auto;
                }
            </style>
        </div>
    </div>
</div>
