<div class="container-fluid">
  <div style="padding:10px"></div>

  <h1 class="titulo mt-3 mb-4">
      Catálogo
  </h1>

  <div style="padding:10px"></div>


  <div class="row row-cols-1 row-cols-md-2">
      <div class="col-md-4 offset-md-2 mb-4">
        <a href="/camisa" class="card">
          <img src="/public/img/camisa.png" class="card-img-top" alt="Camisa Basic - DripDistrict™">
          <div class="card-body">
            <h5 class="card-title dd">Camisa Basic - DripDistrict™</h5>
            <p class="card-text dd">Seja visto e respeitado com a camiseta DripDistrict™ Basic, feita para quem vive o streetwear em sua essência.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="/blusa" class="card">
          <img src="/public/img/blusa.png" class="card-img-top" alt="Blusa Basic - DripDistrict™">
          <div class="card-body">
            <h5 class="card-title dd">Blusa Basic - DripDistrict™</h5>
            <p class="card-text dd">Para quem não para e vive a vibe das ruas, essa peça combina o melhor do streetwear para qualquer parada.</p>
          </div>
        </a>
      </div>
  </div>
  <div style="padding:20px"></div>
</div>


<%- contentFor("espaco-head") %>
<style>

  body{
    font-family: Atkinson Hyperlegible;
    font-size: 14px;
  }

  img{
    max-width: 100%;
  }

  .titulo{
    font-size: 65px;
    font-family: Monoton;
    text-align: center;
    font-weight: regular;
  }


  .fundoProduto {
    background-color: rgba(128, 128, 128, 0.08);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
		border-width: 0.5px;
		border-style: solid;
		border-color: gray;
  }

  
.catalogo{
  font-size: 40px;
  font-weight: bolder;
  font-family: Lato;
  padding: 15px;
}

.dd{
  text-decoration: none;
  color: black;
}

.bs{
  
  box-shadow: 2px rgba(0, 0, 0, 0.762);
}

.card:hover {
  text-decoration: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.762);
}


</style>